//
   Created by btm on 21/07/16.
extends layout

block content
  .text-center
    h1 Login failed, sorry
    p: a(href='/') Return to main page
    br
    br
    p: a(href='/privacy-policy') Privacy Policy
