.percentage {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.followers-count, .strangers-count {
    font-size: 14px;
}
.total-count {
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
}
.total-count > strong {
    font-size: 110%;
    margin-left: .2em;
}
.thumbnail {
    margin-bottom: 0;
}

#load-more {
    margin-bottom: 2em;
}
#loading {
    margin-bottom: 4em;
}
