.percentage {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.followers-count, .strangers-count {
    font-size: 14px;
}
.total-count {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
}
.thumbnail {
    margin-bottom: 0;
}

#load-more {
    margin-bottom: 2em;
}
#loading {
    margin-bottom: 4em;
}
